@model IEnumerable<inz.Models.Project>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}

<h2>Projekty</h2>
@if (Context.User.IsInRole("Admin") || Context.User.IsInRole("Agent") )
{
    <p>
        @Html.ActionLink("Nowy projekt", "Create")
    </p>
}
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.desc)
            </th>
            <th>Opcje</th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.desc)
            </td>

            @if (Context.User.IsInRole("Admin") || Context.User.IsInRole("Agent"))
            {

            <td>
                <button type="button" onclick="location.href='@Url.Action("Details", "Projects", new { id = item.ID })'" class="btn btn-info">Szczegóły</button>

                <button type="button" onclick="location.href='@Url.Action("Edit", "Projects", new { id = item.ID })'" class="btn btn-warning">Edycja</button>

                <button type="button" onclick="location.href='@Url.Action("Delete", "Projects", new { id = item.ID })'" class="btn btn-danger">Usuń</button>
            </td>

             }
                </tr>
            }

            </table>
