<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/main3.css" rel="stylesheet" type="text/css" />
  

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="https://www.uph.edu.pl/"> <img src=" https://www.uph.edu.pl/images/uph_2018/pliki_pdf/pozostale/logo_uph_50lat.png" width="60" height="44" style="float: left;" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Baza Ofert", "Index", "Home")</li>



                    <li>

                        <a href="#" data-toggle="dropdown">O nas <span class="caret"></span></a>



                        <ul class="dropdown-menu">

                            <li>@Html.ActionLink("Wiadomości", "", "News")</li>
                            <li>@Html.ActionLink("Ankiety", "", "Pollings")</li>

                        </ul>

                    </li>
                  
                        <li>

                            <a href="#" data-toggle="dropdown">Oferty <span class="caret"></span> </a>



                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Oferty Biznesowe", "", "Offers")</li>
                                <li>@Html.ActionLink("Oferty Uph", "", "Uph_offer")</li>

                                @if (Context.User.IsInRole("Admin"))
                                {
                                  
                                    <li>@Html.ActionLink("Kategorie", "", "Categories")</li>
                                    
                                }
                            </ul>

                </li>
                 




                <li>

                    <a href="https://www.uph.edu.pl/" data-toggle="dropdown">Projekt  <span class="caret"></span></a>



                    <ul class="dropdown-menu">
                        <li> @Html.ActionLink("Projekty", "", "Projects")</li>

                        @if (Context.User.IsInRole("Admin") || Context.User.IsInRole("Agent"))
                        {
                            <li> @Html.ActionLink("Zadania", "", "Quests")</li>
                            <li> @Html.ActionLink("Pliki", "", "Files")</li>
                            <li>@Html.ActionLink("Komentarze", "", "Comments")</li>
                        }
                    </ul>

                </li>
                <li>
                    @if (!Context.User.IsInRole("Admin"))
                    {
                        <a href="#" data-toggle="dropdown">Panel Użytkownika <span class="caret"></span></a>

                    }
                    @if (Context.User.IsInRole("Admin"))
                    {
                        <a href="#" data-toggle="dropdown">Panel Admina <span class="caret"></span></a>

                    }

                        <ul class="dropdown-menu">
                            @if (Context.User.IsInRole("Admin"))

                            {
                                <li>@Html.ActionLink("Użytkownicy", "", "ApplicationUsers")</li>
                            }
                            @if (Context.User.IsInRole("Agent"))

                            {
                                <li>@Html.ActionLink("Agenci", "", "Agents")</li>
                            }
                            @if (Context.User.IsInRole("Firm"))

                            {
                                <li>@Html.ActionLink("Firmy", "", "Firms")</li>
                            }
                            @if (Context.User.IsInRole("Scientist"))

                            {
                                <li>@Html.ActionLink("Naukowcy", "", "Scientists")</li>
                            }
                        </ul>

                </li>




                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
        <hr />




        <div class="socials">
            <div class="socialdivs">
                <a href="https://www.facebook.com/">
                    <div class="fb">
                        <i class=icon-facebook></i>
                        <img src="https://cdn3.iconfinder.com/data/icons/glypho-social-and-other-logos/64/logo-facebook-128.png">
                    </div>
                </a>
                <a href="https://www.youtube.com/">
                    <div class="yt">
                        <i class=icon-youtube></i>
                        <img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/58-youtube-128.png" ">
                    </div>
                </a>
                <a href="https://twitter.com/?lang=pl">
                    <div class="tw">
                        <i class=icon-twitter></i>
                        <img src="https://cdn3.iconfinder.com/data/icons/glypho-social-and-other-logos/64/logo-twitter-128.png">
                    </div>
                </a>
                <a href="https://plus.google.com/u/0/">
                    <div class="gplus">
                        <i class=icon-gplus></i>
                        <img src="https://cdn3.iconfinder.com/data/icons/glypho-social-and-other-logos/64/logo-google-plus-128.png">
                    </div>
                </a>
                <div style="clear:both"></div>

            </div>
        </div>

        <footer>
            <p>&copy; @DateTime.Now.Year - Strona Biznesowa UPH Konrad Ochnik,Karol Kostrzębski</p>
        </footer>

    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
