@model inz.Models.Polling

@{
    ViewBag.Title = "Delete";
}
<h2>Usuń</h2>

<h3>Czy napewno chcesz to usunąć?</h3>
<div>
    <h4>Ankieta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormLink)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróc do listy", "Index")
        </div>
    }
</div>
